<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Home</title>
</head>
<body>
    <div id="main">
        <div id="form">
            <h2>Login/Register</h2>
            <label>Username</label>
            <input type="text" id="uname">
            <label>Password</label>
            <input type="password" id="pass">
            <button id="sub">Submit</button>
        </div>
        <div id="status">
            <h2>Dashboard</h2>
            <label id="tokenDisplay">No token present</label>
            <label id="output">Undefined</label>
            <button id="getData">Get data</button>
        </div>
    </div>
    <script src="handles.js" type="text/javascript"></script>
</body>
</html>